/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.4em;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

button {
	background: none;
	border: none;
}

button, input {
    outline: none;
}

.container {
	position: relative;
    min-width: 230px;
    max-width: 550px;
	margin: 120px auto;
	font-family: Arial;
}

.todo li {
    position: relative;
    font-size: 24px;
    border-bottom: 1px solid #ededed;
}

.view {
	position: relative;
}

.view label {
	padding: 15px 60px 15px 15px;
    margin-left: 45px;
    display: block;
    line-height: 1.2;
}

.destroy {
    display: block;
    position: absolute;
    right: 5px;
    top: 9px;
    width: 40px;
    height: 40px;
    margin: auto 0;
    font-size: 30px;
    color: #cc9a9a;
    margin-bottom: 11px;
    transition: color 0.2s ease-out;
}

.destroy:after {
    content: '×';
}

.container .header {
	position: relative;
	height: 60px;
    width: 100%;
    border-bottom: 1px solid #ededed;
    box-shadow: inset 0 -2px 1px rgba(0,0,0,0.03);
}

.toggle-all {
	position: absolute;
	left: -13px;
	top: 6px;
	transform: rotate(90deg);
	-webkit-appearance: none;
	appearance: none;
}

.toggle-all:before {
    content: '❯';
    font-size: 22px;
    color: #e6e6e6;
    padding: 10px 27px 10px 27px;
}

.new-todo {
	float: left;	
	height: 50%;
	width: 88%;
    padding: 10px 8px;
    font-size: 24px;
    font-style: italic;
    border: none;
    position: relative;
    left: 50px;

}

.toggle {
	display: block;
    position: absolute;
    top: 8px;
    left: -5px;
    height: 40px;
	-webkit-appearance: none;
	appearance: none;
}

.toggle:after {
	content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#ededed" stroke-width="3"/></svg>');
	width: 10px;
	height: 20px;
	position: absolute;
	top: 0;
	left: 0;
}

.footer {
	color: #777;
    padding: 10px 15px;
    height: 20px;
    text-align: center;
    font-size: 15px;
}

.todo-count {
	float: left;
	font-size: inherit;
}

.footer .filters {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    right: 0;
    left: 0;
    font-size: 15px;
}

.footer .filters li {
	display: inline;
}

.footer .filters li a {
	color: inherit;
    margin: 3px;
    padding: 3px 7px;
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 3px;
}

.footer .filters li a:hover {
	border-color: rgba(175, 47, 47, 0.1);
}

.filters li a.selected {
    border-color: rgba(175, 47, 47, 0.2);
}

.clear-completed {
	float: right;
    line-height: 22px;
    padding: 0;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    color: inherit;
    font-size: inherit;
}

.clear-completed:hover {
	text-decoration: underline;
}